.projects {
  display: flex;
  width: 80vw;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.projects h2 {
  font-size: 3em;
  padding-bottom: 20px;
  border-bottom: 4px solid black;
}

.projects-container {
  padding-top: 30px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-row-container{
  display: flex;
  flex-direction: column;
}

.project-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  height: calc(80vw * 4 / 18);
}

.project-row-item {
  width: 28%;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 7px 7px 9px -1px rgba(0,0,0,0.25);
  -moz-box-shadow: 7px 7px 9px -1px rgba(0,0,0,0.25);
  box-shadow: 7px 7px 9px -1px rgba(0,0,0,0.25);
}

.project-row-item-content:hover {
  -moz-transform: translate(-1vw, -1vw);
  -ms-transform: translate(-1vw, -1vw);
  -o-transform: translate(-1vw, -1vw);
  -webkit-transform: translate(-1vw, -1vw);
  transform: translate(-1vw, -1vw);
}

.project-row-item-content:hover .project-row-item-description {
  opacity: 1;
}

.project-row-item-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid black;
  transition: all .25s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;


}

.hidding-background-color {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.project-row-item-description{
  opacity: 0;
  transition: all .25s ease-in-out;
  position: absolute;
  width: 97%;
  left: 0;
  top: calc(80vw * 4 / 18 - 66px);
  background-color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  color: black;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 0;
}

.project-row-item-description p {
  margin-top: 4px;
}

.project-row-item-content h4 {
  margin: 0;
}

.image-holder {
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.project-row-item-content img {
  width: 100%;
}
